@model CharacterDetail

@{
    ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>

<h4>Character Details</h4>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Show)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Show.Name)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.StrongestAttack)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.StrongestAttack)
    </dd>
    @* <dd class="col-sm-10">
    @foreach (var c in @Model.Characters)
    {
        <h6>@c.Name</h6>
    }
    </dd> *@
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.MainRival)
    </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.MainRival)
    </dd>
</dl>
