@model SeasonDetail

@{
    ViewData["Title"] = "Season Details";
}

<h1>@Model.Show</h1>
<h4>Season Details</h4>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.EpisodeCount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.EpisodeCount)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.NumberOfSeasons)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.NumberOfSeasons)
    </dd>
    </dd>
        @* <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.StrongestAttack)
    </dd>
    <dd class="col-sm-10">
    @foreach (var c in @Model.Characters)
    {
        <h6>@c.Name</h6>
    }
    </dd> 
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.MainRival)
    </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.MainRival)
    </dd> *@
    <div>
    <a asp-action="Details" asp-controller="Show" asp-route-id="@Model.Id">Back To Details</a>
    </div>
</dl>
